<!DOCTYPE html>
<html>

<style>

nav.navbar {
    background-color:  #204969;
    color: #fff7f7;
}

nav.navbar ul.nav li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}    

.naturalWHite {
color: #fff7f7

}

.navyBlue {
    background-color: #204969;
}

.navyBlueLight {
    background-color: #08ffc8;
}
a:hover {
    background-color: #08ffc8;
  }

.HighlightGreen{
    color: #08ffc8;
    
}

</style>


<head>
    <title>Guide Finder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://sdk.accountkit.com/en_US/sdk.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <nav id="navbar-example2" class="navbar navbar navbar-expand-lg shadow-sm">
        <a class="navbar-brand naturalWHite rounded p-2 " href="/home"> <i class="fa fa-home"></i> Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fa fa-bars HighlightGreen"></i></span>
        </button>
        <div class="collapse navbar-collapse float-right" id="navbarText">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link float-right naturalWHite" href="/profiles"> <i class="fa fa-users"></i>
                        Profiles</a>
                </li>
                <!--sign in options -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle naturalWHite " data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false"> <i class="fa fa-sign-in"></i> Log In</a>
                    <div class="dropdown-menu HighlightGreen">
                        <a class="dropdown-item guide" href="/login">Guide</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item traveler" href="/loginUser">Traveler</a>

                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link naturalWHite" href="/contactUs"> <i class="fa fa-id-badge"></i> Contact us</a>
                </li>

            </ul>
        </div>
    </nav>

    {{{body}}}


    <div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLongTitle" aria-hidden="true">

        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <img id="match-img"
                        src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/064/1bd/3435aa3.jpg" alt=""
                        class="img-thumbnail col-md-6 mb-3">
                    <p class="texto-modal" id="age"></p>
                    <p class="texto-modal" id="activity"></p>
                    <p class="texto-modal" id="city"></p>
                    <p class="texto-modal" id="yearsofExperience"></p>
                    <p class="texto-modal" id="descriptionActivity"></p>
                    <figure>
                        <img id="imgs1"
                            src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/064/1bd/3435aa3.jpg" width="350" height="300" alt="">
                    </figure>
                    <figure>
                        <img id="imgs2" class="two columns"
                            src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/064/1bd/3435aa3.jpg" width="350" height="300" alt="">
                    </figure>
                    <figure>
                        <img id="imgs3" class="two columns"
                            src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/064/1bd/3435aa3.jpg" width="350" height="300" alt="">
                    </figure>
                    <figure>
                        <img id="imgs4" class="two columns"
                            src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/064/1bd/3435aa3.jpg" width="350" height="300" alt="">
                    </figure>
                    <figure>
                        <img id="imgs5" class="two columns"
                            src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/064/1bd/3435aa3.jpg" width="350" height="300" alt="">
                    </figure>
                     <figure>
                        <img id="imgs6" class="two columns"
                            src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/064/1bd/3435aa3.jpg" width="350" height="300" alt="">
                    </figure>

                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn navyBlue text-white active" data-dismiss="modal">Close</button>
                    <button type="button" id="contactMe" class="btn navyBlueLight text-white active">Contact Me</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer text-light navyBlue font-small fixed-bottom">

        <div class="footer-copyright text-center py-3 naturalWHite"> ©2019 Copyright ||
            <a style="naturalWHitecolor: #fff7f7;" href="https://github.com/cliffordjorgensen/guideFinder"> <i
                    class="fa fa-github"></i> GitHub Repo</a></div>
    </footer>


    {{!-- Chat HTML --}}
        <div class="modal fade bd-example-modal-lg" id="chatModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLongTitle" aria-hidden="true">

        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Chat</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                 {{!-- Chat modal content --}}
                <div class="modal-body">
                    <div id='guide-chat'>
                        <div id="chat-window">
                            <div id="output"></div>
                            <div id="feedback"></div>
                        </div>
                        <!-- TODO: Implement current logged in guide/tourist name instead of manual entry -->
                        <input id="username" type="text" placeholder="Username" />
                        <input id="message" type="text" placeholder="Message" />
                        <button id="send-button">Send</button>
                </div>
                <div class="modal-footer">
                    <button type="close-button" class="btn btn-primary active" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $(".extendedInfo").on("click", function (e) {
                e.preventDefault();
                const id = $(this).attr("data-id")
                 localStorage.setItem('contactId', id)
                $.get("/profiles/" + id).then(function (data) {

                    $("#exampleModalLongTitle").text(data.name);
                    $("#match-img").attr("src", data.photolink);
                    $("#age").text(data.age);
                    $("#activity").text(data.activity);
                    $("#city").text(data.city);
                    $("#yearsofExperience").text(data.yearsofExperience);
                    $("#descriptionActivity").text(data.descriptionActivity);
                    $("#imgs1").attr("src", data.pic1);
                    $("#imgs2").attr("src", data.pic2);
                    $("#imgs3").attr("src", data.pic3);
                    $("#imgs4").attr("src", data.pic4);
                    $("#imgs5").attr("src", data.pic5);
                    $("#imgs6").attr("src", data.pic6);

                    $('#myModal').modal('toggle');
                });
            });

            $("#contactMe").on("click", function (e) {
                e.preventDefault();
               
                window.location.replace("/loginUser")
            });
        });
        // jQuery to open and close chat modal
            $(".chat-button").on("click", function (e) {
                e.preventDefault();
                const id = $(this).attr("data-id")
                    $('#chatModal').modal('toggle');
            });
    </script>

    <!-- Javascript links -->

    <script src="assets/javascript/map.js"></script>


    <script src="./../../public/assets/chat/index.js"></script>
    <script src="./../../public/assets/chat/public/chat.js"></script>
    <script src="assets/javascript/map.js"></script> 

    <script src="assets/javascript/carousel.js"></script>
    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- google api -->
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAQv_VajKKxKQTr1tw-PpDaMhV30n_D-c&callback=initMap"></script>
    <script src="https://cdn.rawgit.com/googlemaps/js-marker-clusterer/gh-pages/src/markerclusterer.js"></script>

</body>

</html>