<!DOCTYPE html>
<html>

<head>
    <title>Guide Finder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://sdk.accountkit.com/en_US/sdk.js"></script>
</head>

<body>
    <nav id="navbar-example2" class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Home</a>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="#fat">Profiles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#mdo">Contact us</a>
            </li>
            <!--sign in options -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">Log In</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item guide" href="/login">Guide</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item traveler" href="#two">Traveler</a>

                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">Menu</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#one">one</a>
                    <a class="dropdown-item" href="#two">two</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#three">three</a>
                </div>
            </li>
        </ul>
    </nav>
    {{{body}}}


    <div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLongTitle" aria-hidden="true">

        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <img id="match-img"
                        src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/064/1bd/3435aa3.jpg" alt=""
                        class="img-thumbnail col-md-6">
                    <p id="age"></p>
                    <p id="activity"></p>
                    <p id="city"></p>
                    <p id="yearsofExperience"></p>
                    <p id="descriptionActivity"></p>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-primary active" data-dismiss="modal">Close</button>
                    <button type="button" class="contactme btn btn-success active">Contact Me</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Javascript links -->
    {{!-- <script src="assets/javascript/map.js"></script> --}}
    <script src="assets/javascript/carousel.js"></script>
    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- google api -->
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAQv_VajKKxKQTr1tw-PpDaMhV30n_D-c&callback=initMap"></script>



    <script>
        $(document).ready(function () {
            $(".extendedInfo").on("click", function (e) {
                e.preventDefault();
                const id = $(this).attr("data-id")
                $.get("/profiles/" + id).then(function (data) {

                    $("#exampleModalLongTitle").text(data.name);
                    $("#match-img").attr("src", data.photolink);
                    $("#age").text(data.age);
                    $("#activity").text(data.activity);
                    $("#city").text(data.city);
                    $("#yearsofExperience").text(data.yearsofExperience);
                    $("#descriptionActivity").text(data.descriptionActivity);

                    $('#myModal').modal('toggle');
                });
            });

            $(".contactme").on("click", function (e) {
                e.preventDefault();
                const id = $(this).attr("data-id")
                $.get("/profiles/" + id).then(function (data) {



                    $('#myModal2').modal('toggle');
                });
            });

            //badri's line's of code starts here//


        });

    </script>


</body>

</html>