
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div id="first">
                    <div class="myform form ">
                        <div class="logo mb-3">
                            <div class="col-md-12 text-center">
                                <h1>Login as a Guide</h1>
                            </div>
                        </div>
                        <form>
                            <div class="form-group">
                                <label>Username</label>
                                <input class="form-control" id="userLoginName" placeholder="Enter Username">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Password</label>
                                <input type="password" name="password" id="userLoginPassword" class="form-control"
                                    aria-describedby="emailHelp" placeholder="Enter Password">
                            </div>
                            <!-- <div class="form-group">
                                <p class="text-center">By signing up you accept our <a href="#">Terms Of Use</a></p>
                            </div> -->
                            <div class="col-md-12 text-center ">
                                <button id="loginBtn" type="submit"
                                    class="btn btn-block tx-tfm navyBlue text-white">Login</button>
                            </div>
                            <div class="col-md-12 ">
                                <div class="login-or">
                                    <hr class="hr-or">
                                    <span class="span-or"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <p class="text-center">Don't have account? <a href="#" id="signup">Sign up here</a></p>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="second">
                    <div class="myform form mb-5">
                        <div class="logo mb-3">
                            <div class="col-md-12 text-center">
                                <h1>Signup</h1>
                            </div>
                        </div>
                        <form action="#" name="registration">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Name</label>
                                <input type="text" name="name" class="form-control" id="fullname"
                                    aria-describedby="emailHelp" placeholder="Enter Fullname">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Photo Link</label>
                                <input type="text" name="photolink" class="form-control" id="newPhotoLink"
                                    aria-describedby="emailHelp" placeholder="Provide a link to your Picture">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">City</label>
                                <input type="city" name="city" class="form-control" id="newCity"
                                    aria-describedby="emailHelp" placeholder="Enter City">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Age</label>
                                <input type="age" name="age" class="form-control" id="newAge"
                                    aria-describedby="emailHelp" placeholder="Enter Age">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email Address</label>
                                <input type="email" name="email" class="form-control" id="newEmail"
                                    aria-describedby="emailHelp" placeholder="Enter Email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Username</label>
                                <input type="username" name="username" class="form-control" id="newUserName"
                                    aria-describedby="emailHelp" placeholder="Create your Username">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1"> Password</label>
                                <input type="password" name="password" id="newPassword" class="form-control"
                                    aria-describedby="emailHelp" placeholder="Create your Password">
                            </div>
                            <div class="form-group">
                                <p class="text-center">By signing up you accept our <a href="#">Terms Of Use</a></p>
                            </div>
                            <div class="col-md-12 text-center mb-3">
                                <button type="submit" class=" btn btn-block mybtn tx-tfm navyBlue text-white">Get Started For
                                    Free</button>
                            </div>
                            <div class="col-md-12 ">
                                <div class="form-group">
                                    <p class="text-center"><a href="#" id="signin">Already have an account?</a></p>
                                </div>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#signup").click(function () {
            $("#first").fadeOut("fast", function () {
                $("#second").fadeIn("fast");
            });
        });
        $("#signin").click(function () {
            $("#second").fadeOut("fast", function () {
                $("#first").fadeIn("fast");
            });
        });
        $(document).ready(function () {
            $("#loginBtn").on("click", function (e) {
                console.log('hello from login button!')
                console.log($('#password').val());
                e.preventDefault();
                $.ajax({
                    method: 'POST',
                    url: '/login',
                    data: {
                        username: $("#userLoginName").val().trim(),
                        password: $("#userLoginPassword").val().trim()
                    }
                }).then(function (response) {
                    console.log(response);
                    localStorage.setItem('id', response.guideID);
                    window.location.href = '/guides/' + response.guideID;
                });
            });
        });
        $('.mybtn').on('click', function (event) {
            (event).preventDefault();
            console.log('sign up button clickeddddddd');
            $.ajax({
                url: '/login',
                method: 'PUT',
                data: {
                    name: $('#fullname').val().trim(),
                    photolink: $('#newPhotoLink').val().trim(),
                    age: $('#newAge').val().trim(),
                    city: $('#newCity').val().trim(),
                    username: $('#newUserName').val().trim(),
                    password: $('#newPassword').val().trim()
                }
            }).then(function (response) {
                console.log('response is rendered until here')
                console.log(response);
                localStorage.setItem('id', response.guideID);
                window.location.href = '/guides/' + response.guideID;
            });
        });
    </script>
</body>
